.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #4B0082;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 300px;
    border-radius: 2px;
}

.output {
    display: flex;
    flex-direction: column;
    background-color: #800080;
    margin: 0 0 10px 0;
    height: 30%;
    width: 100%;
    border-radius: 7px;
}

.previous-operant,
.current-operant {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.output span {
    margin: 10%;
    font-size: 30px;
}

.calculator .buttons {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
}

.calculator .buttons button {
    display: flex;
    width: 25%;
    justify-content: center;
    font-size: 18px;
    border: 0.4px solid rgb(57, 34, 99);
    border-radius: 6px;
}

.calculator .buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.black {
    background-color: black;
    color: white;
    font-weight: bold;
}

.difum {
    background-color: rgb(151, 95, 173);
    color: #ccc;
}